@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "material-design-icons/iconfont/material-icons.css";

* {
  padding: 0;
  margin: 0;

  --principal-color: linear-gradient(
    90deg,
    rgba(255, 107, 0, 0.98) 20.05%,
    rgba(223, 98, 7, 0.6272) 81.6%
  );

  --color-text: rgba(255, 107, 0, 0.98);

  --sphere-color: linear-gradient(
    20deg,
    #ff4d00 0%,
    rgba(255, 107, 0, 0.82) 89.85%
  );
}

:root {
  background-color: #fff;
  font-family: "Amaranth", sans-serif;
}

p {
  font-family: "Amaranth";
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-login {
  text-decoration: underline;
}
.p-login:hover {
  cursor: pointer;
}

@media screen and (min-width: 1500px) {
  p {
    font-size: 22px;
  }
}

@media screen and (min-width: 1800px) {
  p {
    font-size: 25px;
  }
}
